project/project/target/
.idea
target
.DS_Store
factorials.txt 
input.coffee
out.*
images/
npm**
1.md
1.zip
1/framer/config.json
1/modules/myModule.coffee
2.zip/__MACOSX/._app.coffee
2.zip/__MACOSX/framer/._.DS_Store
2.zip/__MACOSX/framer/._.framer.modules.js.hash
2.zip/__MACOSX/framer/._config.json
2.zip/__MACOSX/framer/._framer.generated.js
2.zip/__MACOSX/framer/._manifest.txt
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 09.26.28.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 09.30.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 09.33.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 10.21.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 10.22.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 10.29.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 11.48.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 11.49.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 11.50.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 13.31.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 13.35.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 13.53.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 13.54.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-23 15.00.04.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-27 18.43.59.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-27 18.53.59.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-27 18.54.59.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-28 17.31.36.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-28 17.32.36.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-28 17.34.36.coffee
2.zip/__MACOSX/framer/backups/._backup-2016-12-28 17.35.36.coffee
2.zip/framer/.bookmark
2.zip/framer/.framer.modules.js.hash
2.zip/framer/coffee-script.js
2.zip/framer/config.json
2.zip/framer/framer.generated.js
2.zip/framer/framer.init.js
2.zip/framer/framer.js
2.zip/framer/framer.js.map
2.zip/framer/framer.modules.js
2.zip/framer/manifest.txt
2.zip/framer/metadata.json
2.zip/framer/preview.png
2.zip/framer/style.css
2.zip/framer/version
2.zip/framer/backups/backup-2016-12-23 09.26.28.coffee
2.zip/framer/backups/backup-2016-12-23 09.30.04.coffee
2.zip/framer/backups/backup-2016-12-23 09.33.04.coffee
2.zip/framer/backups/backup-2016-12-23 10.21.04.coffee
2.zip/framer/backups/backup-2016-12-23 10.22.04.coffee
2.zip/framer/backups/backup-2016-12-23 10.29.04.coffee
2.zip/framer/backups/backup-2016-12-23 11.48.04.coffee
2.zip/framer/backups/backup-2016-12-23 11.49.04.coffee
2.zip/framer/backups/backup-2016-12-23 11.50.04.coffee
2.zip/framer/backups/backup-2016-12-23 13.31.04.coffee
2.zip/framer/backups/backup-2016-12-23 13.35.04.coffee
2.zip/framer/backups/backup-2016-12-23 13.53.04.coffee
2.zip/framer/backups/backup-2016-12-23 13.54.04.coffee
2.zip/framer/backups/backup-2016-12-23 15.00.04.coffee
2.zip/framer/backups/backup-2016-12-27 18.43.59.coffee
2.zip/framer/backups/backup-2016-12-27 18.53.59.coffee
2.zip/framer/backups/backup-2016-12-27 18.54.59.coffee
2.zip/framer/backups/backup-2016-12-28 17.31.36.coffee
2.zip/framer/backups/backup-2016-12-28 17.32.36.coffee
2.zip/framer/backups/backup-2016-12-28 17.34.36.coffee
2.zip/framer/backups/backup-2016-12-28 17.35.36.coffee
2.zip/modules/myModule.coffee
